node_modules/
dist/
.DS_Store
.idea/
.obsidian/
.gstack/

# NX
.nx/cache
.nx/workspace-data

# Vite
vite.config.*.timestamp*

.nx/polygraph
.claude/worktrees
.claude/settings.local.json
vitest.config.*.timestamp*